.App {
  display: flex;
  flex-direction: row;
}

.map-container {
  margin: 3rem 0 0 3rem;
  height: 800px;
  width: 1200px;
}

.Contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 3rem;
  right: 15rem;
}

.titreContacts {
  text-align: center;
  width: 300px;
  border: 2px solid #608d22;
  padding: 10px;
}

.Contact {
  text-align: left;
  margin-top: 0.2rem;
  border: 2px solid #73AD21;
}

.Personne {
  cursor: pointer;
  padding: 3px 0 3px 10px;
}

.Personne:hover {
  background-color: #22868d
}

.ficheContact {
  text-align: center;
  margin-top: 4rem;
  width: 300px;
  border: 2px solid #22868d;
  padding: 10px;
}

.leContact {
  text-align: left;
  margin-top: 3rem;
}

.titrePopup {
  text-align: center;
}

.inputName{
  margin-top: 1rem;
}

.inputDesc {
  margin-top: 1rem;
}

.inputType {
  margin-top: 1rem;
}

.allInputs {
  text-align: center;
}